.channel-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #494949;
}

.channel-titlebar {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 15px;
    color: #d2d2d2;
    justify-content: space-between;
}

.channel-titlebar-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.channel-titlebar > svg {
    fill: #d2d2d2;
}

.titlebar-icon-button {
    fill: #d2d2d2;
    cursor: pointer;
}

.titlebar-icon-button:hover {
    fill: #e5e5e5;
    transition: all .1s ease-in;
}

.channel-content {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.vertical-divider {
    width: 2px;
    height: 75%;
    background-color: #626262;
    margin: 5px 10px;
    border-radius: 2px;
}

.friends-buttons-container {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.friends-buttons {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    gap: 10px;
}

.titlebar-friends-button {
    color: #c5c5c5;
    padding: 7px 10px;
    background-color: transparent;
    border: none;
    font-size: 16px;
}

.titlebar-friends-button:hover {
    color: #e0e0e0;
    background-color: #b0b0b040;
    border-radius: 7px;
}

.titlebar-friends-button-selected {
    color: #e0e0e0;
    background-color: #b0b0b080;
    border-radius: 7px;
}

.titlebar-friends-button-green {
    color: #e0e0e0;
    padding: 7px 10px;
    background-color: #1c911c;
    border: none;
    font-size: 16px;
    border-radius: 7px;
}

.titlebar-friends-button-green:hover {
    color: #24be24;
    background-color: #24be2440;
}

.titlebar-friends-button-green-selected {
    color: #24be24;
    background-color: transparent;
}

.channel-titlebar-title {
    font-weight: bold;
}

.channel-messages {
    display: flex;
    flex-grow: 1;
    flex-direction: column-reverse;
    overflow-y: scroll;
    height: 0;
    max-width: 100%;
}

.channel-messages::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.channel-messages::-webkit-scrollbar-thumb {
    background: #2f2f2f;
    border-radius: 2px;
    cursor: pointer;
}

.channel-input-container-1 {
    background-color: #5d5d5d;
    border-radius: 10px;
    margin: 10px 15px;
}

.channel-input-container-2 {
    display: flex;
    flex-direction: row;
    margin: 5px;
    gap: 10px;
}

.channel-input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 15px;
    outline: none;
    resize: none;
}

.channel-input::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.channel-input::-webkit-scrollbar-thumb {
    background: #2f2f2f;
    border-radius: 2px;
    cursor: pointer;
}

.channel-input-icon {
    color: #b0b0b0;
    cursor: pointer;
    height: 28px!important;
    width: 28px!important;
}

.add-friend-form {
    margin: 20px;
}

.add-friend-header {
    margin-block-start: 0;
    margin-block-end: 0;
    color: white;
}

.add-friend-input {
    display: flex;
    flex-direction: row;
    background-color: #1e1e1e;
    padding: 7px;
    border-radius: 10px;
    gap: 5px;
}

.add-friend-input > input {
    flex-grow: 1;
    outline: none;
}