.channel-panel {
    height: 100%;
    width: 250px;
    background-color: #3b3b3b;
    display: flex;
    flex-direction: column;
}

.find-or-start-conversation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.find-or-start-conversation {
    margin: 15px;
    width: 100%;
    height: 24px;
    background-color: #2f2f2f;
    cursor: pointer;
    padding-left: 5px;
    font-size: 12px;
    color: #ababab;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.dm-btn {
    margin: 7px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.dm-btn-icon {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.dm-btn-icon > svg {
    width: 28px;
    height: 28px;
    fill: #a1a1a1;
}

.dm-btn-text {
    margin-left: 5px;
    color: #a1a1a1;
}

.dm-btn:hover {
    background-color: #4f4f4f;
    border-radius: 7px;
}

.dm-btn:hover > .dm-btn-icon > svg, .dm-btn:hover > .dm-btn-text {
    color: #d5d5d5;
    fill: #d5d5d5;
}

.dm-divider {
    display: flex;
    height: 20px;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    align-items: center;
    margin-bottom: 5px;
}

.dm-divider-text {
    color: #a1a1a1;
}

.dm-divider-icon > svg {
    fill: #a1a1a1;
    cursor: pointer;
}

.dm-channel-item {
    margin-left: 7px;
    margin-right: 7px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
}

.dm-channel-icon {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
}

.dm-channel-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dm-channel-item > svg {
    display: none;
    margin-right: 10px;
}

.dm-channel-item:hover > svg {
    display: block;
    fill: #949494;
}

.dm-channel-item:hover > svg:hover {
    fill: #c0bfbf;
    cursor: pointer;
}

.dm-channel-icon-img {
    border-radius: 50%;
}

.dm-channel-item:hover {
    background-color: #4f4f4f;
    border-radius: 7px;
}

.dm-channel-name {
    margin-left: 5px;
    color: #a1a1a1;
}

.dm-channel-list {
    height: 0;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow-y: scroll;
    gap: 10px;
}

.dm-channel-list::-webkit-scrollbar {
    display: none;
}

.profile-panel {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #343434;
}

.profile-panel-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-panel-username {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.profile-panel-buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    margin-right: 10px;
}

.profile-panel-buttons > * {
    fill: #b2b2b2 !important;
    cursor: pointer;
}