.btn-primary-wide {
    width: 100%;
    background-color: #156bff;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    transition: all .1s ease-out;
}

.btn-primary-wide:hover {
    background-color: #0261ff;
}

.btn-primary-wide:active {
    background-color: #004ed7;
}

.btn-color-primary {
    color: #156bff;
}

.btn-color-primary:hover {
    background-color: #0261ff;
    color: #ffffff;
}

.btn-color-primary:active {
    background-color: #004ed7;
    color: #ffffff;
}

.input-primary {
    background-color: #1e1e1e;
    color: #e8e8e8;
    height: 35px;
    border-radius: 7px;
    font-size: 16px;
    border: none;
    padding-left: 10px;
}

.w-100 {
    width: 100%;
}

.bg-transparent {
    background-color: transparent;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.align-center {
    display: flex;
    align-items: center;
}

.margin-tb-10px {
    margin: 0 10px;
}

.d-none {
    display: none!important;
}

.btn-secondary-transparent {
    display: flex;
    flex-direction: row;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    color: #b2b2b2;
    background-color: transparent;
    transition: all .1s ease-out;
    font-size: 16px;
}

.btn-secondary-transparent:hover {
    background-color: #545454;
}

.btn-secondary-transparent:active, .btn-secondary-transparent-selected {
    background-color: #6b6b6b;
    color: white;
}

.vis-hidden {
    visibility: hidden;
}

.h-0 {
    height: 0;
}

.btn-primary {
    display: flex;
    flex-direction: row;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #156bff;
    transition: all .1s ease-out;
    font-size: 16px;
    align-items: center;
    align-self: flex-start;
}

.btn-primary:hover {
    background-color: #0261ff;
}

.btn-primary:active {
    background-color: #004ed7;
}

.btn-primary:disabled {
    background-color: #003793;
}

.btn-secondary {
    display: flex;
    flex-direction: row;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #545454;
    transition: all .1s ease-out;
    font-size: 16px;
    align-items: center;
}

.btn-secondary:hover {
    background-color: #727272;
}

.btn-secondary:active {
    background-color: #949494;
}

.font-13 {
    font-size: 13px;
}

.btn-danger {
    display: flex;
    flex-direction: row;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #ff3b3b;
    transition: all .1s ease-out;
    font-size: 16px;
    align-items: center;
}

.btn-danger:hover {
    background-color: #ff0000;
    border: none;
}

.btn-danger:active {
    background-color: #930000;
    border: none;
}

.btn-danger-outline {
    border: 2px solid #ff3b3b;
    background-color: transparent;
}