.btn-primary-wide {
    width: 100%;
    background-color: #156bff;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    transition: all .1s ease-out;
}

.btn-primary-wide:hover {
    background-color: #0261ff;
}

.btn-primary-wide:active {
    background-color: #004ed7;
}

.input-primary {
    background-color: #1e1e1e;
    color: #e8e8e8;
    height: 35px;
    border-radius: 7px;
    font-size: 16px;
    border: none;
    padding-left: 10px;
}

.w-100 {
    width: 100%;
}

.bg-transparent {
    background-color: transparent;
}

.btn-secondary-transparent {
    display: flex;
    flex-direction: row;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    color: #b2b2b2;
    background-color: transparent;
    transition: all .1s ease-out;
    font-size: 16px;
}

.btn-secondary-transparent:hover {
    background-color: #545454;
}

.btn-secondary-transparent:active, .btn-secondary-transparent-selected {
    background-color: #6b6b6b;
    color: white;
}