body {
    --theme-0: #1c1c1c;
    --theme-1: #2d2d2d;
    --theme-1p5: #333333;
    --theme-2: #3b3b3b;
    --theme-3: #4b4b4b;
    --theme-4: #646464;
    --theme-5: #737373;
    --theme-6: #888888;
    --theme-7: #9d9d9d;
    --theme-8: #b4b4b4;
    --theme-text-main: white;
    --theme-text-primary: #eaeaea;
    --theme-text-secondary: #c5c5c5;
}

.btn-color-primary {
    color: #156bff;
}

.btn-color-primary:hover {
    background-color: #0261ff;
    color: var(--theme-text-main);
}

.btn-color-primary:active {
    background-color: #004ed7;
    color: var(--theme-text-main);
}

.input-primary {
    background-color: var(--theme-0);
    color: var(--theme-text-primary);
    height: 35px;
    border-radius: 7px;
    font-size: 16px;
    border: none;
    padding-left: 10px;
}

.w-100 {
    width: 100%;
}

.bg-transparent {
    background-color: transparent;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.align-center {
    display: flex;
    align-items: center;
}

.margin-tb-10px {
    margin: 0 10px;
}

.d-none {
    display: none!important;
}

.vis-hidden {
    visibility: hidden;
}

.h-0 {
    height: 0;
}

.font-13 {
    font-size: 13px;
}

.btn-icon {
    color: var(--theme-5);
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.btn {
    display: flex;
    flex-direction: row;
    padding: 7px 10px;
    border: none;
    border-radius: 7px;
    color: var(--theme-text-main);
    transition: all .1s ease-out;
    font-size: 16px;
    align-items: center;
    align-self: flex-start;
}

.btn-wide {
    height: 40px;
    width: 100%;
}

.btn-primary {
    color: var(--theme-text-main);
    background-color: #156bff;
}

.btn-primary:hover {
    background-color: #0261ff;
}

.btn-primary:active {
    background-color: #004ed7;
}

.btn-primary:disabled {
    background-color: #003793;
}

.btn-success {
    color: var(--theme-text-main);
    background-color: #00ab0d;
}

.btn-success:hover {
    background-color: #00cb0d;
}

.btn-success:active {
    background-color: #00860a;
}

.btn-success:disabled {
    background-color: #006208;
}

.btn-danger {
    color: var(--theme-text-main);
    background-color: #ff3b3b;
}

.btn-danger:hover {
    background-color: #ff0000;
    border: none;
}

.btn-danger:active {
    background-color: #930000;
    border: none;
}

.btn-danger-outline {
    border: 2px solid #ff3b3b;
    background-color: transparent;
}

.btn-secondary {
    color: var(--theme-text-main);
    background-color: var(--theme-3);
}

.btn-secondary:hover {
    background-color: var(--theme-4);
}

.btn-secondary:active {
    background-color: var(--theme-5);
}

.btn-secondary-transparent {
    color: var(--theme-8);
    background-color: transparent;
}

.btn-secondary-transparent:hover {
    background-color: var(--theme-4);
}

.btn-secondary-transparent:active, .btn-secondary-transparent-selected {
    background-color: var(--theme-5);
    color: var(--theme-text-main);
}